.form-submit button {
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    background: #ff6701;
    color: #fff;
}
        textarea.form-control {
    height: auto;
}
        .form-control {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .contactdetails {
            float: left;
            color: #000;
            font-size: 16px;
            margin-left: 10px;
        }

        .co-specification-container span {
            word-break: break-word !important;
            white-space: normal !important;
        }

        .contact_details {
            background-color: #fff;
        }

        .secondary-heading {
            border-bottom: 1px solid #efefef;
            padding-bottom: 10px;
        }

        .co-specification-container table tbody tr td:nth-of-type(1) {
            font-weight: 600;
            color: #282828;
        }

        .table>tbody>tr>td {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
        }

        .table-responsive {
            min-height: .01%;
            overflow-x: auto;
        }

        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 20px;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        .secondary-heading {
            border-bottom: 1px solid #efefef;
            padding-bottom: 10px;
            font-size: 20px;
            color: #454545;
            font-weight: 700;
        }

        .co-specification-container {
            height: 100%;
            background: #fff;
            padding: 15px;
            border: 1px Solid #e6e6e6;
        }

        .prod_price {
            display: block;
            color: #8b8b8b;
            font-size: 14px;
        }

        .product-title h3 {
            font-size: 14px;
        }

        .product-title {
            display: inline-block;
            width: 100%;
            vertical-align: top;
        }

        .product-pic {
            width: 200px;
            height: 200px;
            margin: 0 auto;
        }

        .product-pic img {
            min-width: 148px;
            max-width: 148px;
            min-height: 144px;
            max-height: 144PX;
        }


        .product-pic {
            display: inline-block;
            vertical-align: middle;
            border: 1px solid #bdbdbd;
            position: relative;
            width: 150px;
            height: 150px;
        }

        .product-box {
            text-align: center;
        }

        .product-box {
            margin-bottom: 15px;
            margin-top: 15px;
            position: relative;
        }

        .prod_box a {
            word-break: break-word;
        }

        .prod_box {
            height: 280px;
            text-align: center;
        }

        .h2_heading {
            font-size: 20px;
            color: #454545;
            font-weight: 700;
        }

        .main_products {
            background-color: #fff;
            padding: 24px;
            border: 1px Solid #e6e6e6;
        }

        .navigation ul li {
            float: none;
        }

        .navigation ul li {
            float: left;
            min-height: 0.05em;
            line-height: 1em;
            vertical-align: middle;
            position: relative;
        }

        .navigation>ul>li>a {
            color: #000;
        }

        .product_groups li a {
            display: block;
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px Solid #ccc;
            text-decoration: none;
            color: #000;
        }

        .product_groups li {
            display: block;
        }

        .navigation ul {
            z-index: 1;
        }

        .navigation>ul {
            width: 100%;
        }

        .navigation ul {
            position: relative;
            z-index: 500;
            float: left;
        }

        .h2_heading {
            font-size: 20px;
            color: #454545;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .navigation {
            background: #fff;
            font-family: roboto, Tahoma, Arial, sans-serif;
            zoom: 1;
        }

        .navigation {
            padding: 0;
            margin: 0;
            border: 0;
            line-height: 1;
        }

        .rtp-stars img {
            width: 100%;
        }

        .rtp-stars img {
            max-width: 150px;
            margin-top: 15px;
        }

        .country-flag.cn {
            height: 14px;
            background-position: -1049px 0;
        }

        .country-flag {
            box-shadow: 0 0 1px 0 #dcdcdc;
            background-image: url(https://img2.tradewheel.com/template1/images/flags.png.webp);
            background-repeat: no-repeat;
            background-color: #dbdbdb;
            background-position: 20px 0;
            position: relative;
            width: 20px !important;
            max-width: 20px !important;
        }

        .country-flag {
            vertical-align: middle;
            display: inline-block;
        }

        .comp_short_info .address {
            font-size: 14px;
            display: block;
            margin-top: 10px;
            color: #343434;
            line-height: 1.2;
            word-break: break-all;
        }

        .comp_short_info .title {
            font-size: 14px;
            font-weight: 700;
            display: block;
        }

        .package_badge1 {
            margin-bottom: 10px;
            max-width: 100px;
        }

        .comp_short_info .badge1 {
            width: 100%;
            display: block;
            text-align: center;
        }

        .comp_short_info {
            background-color: #fff;
            padding: 10px;
            margin-bottom: 15px;
            min-height: 220px;
            text-align: center;
            background-repeat: no-repeat;
            background-position: bottom;
        }

        .specification-icon img {
            width: 50px;
        }

        .specification-icon {
            display: inline-block;
        }

        .intro-specification p {

            color: #fff;
            font-size: 14px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .intro-specification .attribute {
            margin-bottom: 5px;
        }

        .intro-specification .attribute {
            color: #ccc;
        }

        .intro-specification .attribute {
           color: #d0d0cc;
            font-weight: 700;
            font-size: 18px;
        }

        .specification-text {
            height: 60px;
            display: inline-block;
            vertical-align: top;
            padding-left: 15px;
            padding-top: 10px;
            width: calc(100% - 65px);
        }

        .specification-container {
            margin-bottom: 15px;
        }

        .specs {
            margin-top: 40px;
        }

        .bg-container {
            background-size: cover !important;
            min-height: 240px;
        }

        ul.nav1.nav.navbar-nav>li>a {
            padding-top: 1px;
            text-align: center;
        }

        .navbar-inverse .navbar-nav>li>a {
            color: #fff;
            font-size: 13px;
        }

        .nav>li>a {
            position: relative;
            display: block;
            padding: 10px 15px;
        }

        /* @media (min-width: 768px){
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}} */
        .nav1>li {
            position: relative;
            display: block;
            float: left;
            width: 25%;
            max-width: 150px;
        }

        .navbar-nav {
            float: left;
            margin: 0;
            width: 100%;

        }

        .btn-search {
            width: 65px !important;
        }

        .navbar-inverse {
            background-color: #ff6701;
            border-color: #ff6701;
        }

        .navbar-nav>li>a {
            line-height: 20px;
        }

        .navbar-inverse {
            background-color: #2d3436;
background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
            border-color: #ff6701;
            border: 0;
            border-radius: 0;
            height: 40px;
        }

        .navbar {
            min-height: initial;
        }

        .btn-search {
            float: left;
            height: 40px;
            border-radius: 0;
            margin-left: -1px;
            background-color: #727272;
            color: #fff;
        }

        .search_input {
            width: calc(100% - 155px - 65px) !important;
        }

        .search_input {
            float: left;
            height: 40px;
            border-radius: 0;
            margin-left: -1px;
        }

        select.input-sm {
            height: 30px;
            line-height: 30px;
        }

        .search_select {
            width: 155px !important;
            font-size: 13px;
        }

        .input-sm {
            padding: 5px 10px;
            font-size: 12px;
            line-height: 1.5;
        }

        select.input-sm {
            line-height: 30px;
            width: 155px !important;
            font-size: 13px;
            float: left;
            border-radius: 0;
            height: 40px !important;
        }

        .search_box {
            text-align: center;
            padding: 10px;
        }

        .comp_heading {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 5px;
            width: 75%;
        }

        .comp_heaing {
            float: left;
            max-width: 340px;
        }

        .comp_logo img {
            max-height: 90px;
            max-width: 100%;
        }

        .comp_logo {
            text-align: center;
        }

        .comp_logo {
            float: left;
            width: 26%;
        }

        .breadcrumb>li+li:before {
            padding: 0 5px;
            color: #ccc;
            content: "/\00a0";
        }

        .breadcrumb>li {
            display: inline-block;
        }

        .breadcrumb a {
            color: #727272 !important;
        }

        .breadcrum {
            font-size: 11px;
        }

        .container-fluid {
            max-width: 1440px;
        }

        .container-fluid {
            padding-right: 10px;
            padding-left: 10px;
            margin-right: auto;
            margin-left: auto;
        }
        .company-overview {
            background-color: #fff;
            padding: 20px;
        }

        /* contact */
        .contact_details {
            background-color: #fff;
        }