.mainprod {
    display: flex;
    gap: 16px;
    width: 99%;
    padding-right: 3px;
    padding-left: 6px;
    height: 25.5rem;

}

.card {
    width: calc(20% - 1rem);
    margin-bottom: 1rem;
}

.product_view {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 50px;
}

.product_view h2 {

    font-size: 22px;
    font-family: math;

}

.product_view h2 span {
    font-size: 14px;
    font-weight: bold;
    color: #ac7100;
    cursor: pointer;
}

.product_view h2 span:hover {
    color: #2d2d86;
    font-size: 16px;
}

.card-img-top {
    height: 30vh;
}

.card {
    padding: 5px;
    border-radius: 9px;
}

.card-body button {
    padding: 5px 5px 5px 5px;
    color: azure;
    background: linear-gradient(40.27deg, rgb(64, 132, 173) -16.4%, rgb(38, 92, 129) 118.06%);
    border-radius: 34px;
}

.inquiry-form {
    background-image: url('../images/layouts/form.png');
    background-size: cover;
    background-position: top right;
    padding: 40px 30px 40px 10px;
}

.containt-form h1 span {
    color: brown;
}


.slider-btns.glider-prev span {
    transform: rotate(-180deg);
}

.glider-prev {
    left: 12px !important;
    top: 38% !important;
    font-size: 40px !important;
    opacity: 60% !important;
    z-index: 999999999;
}

.glider-next {
    right: 12px !important;
    top: 38% !important;
    font-size: 40px !important;
    opacity: 60% !important;
    z-index: 999999999;
}

.slider-btns button span::after {
    margin-top: -1px;
    transform: rotate(45deg);

}

.slider-btns button span::before,
.slider-btns button span::after {
    border-right: 2px solid;
    display: block;
    height: 8px;
    margin-top: -6px;
    position: absolute;
    transform: rotate(135deg);
    right: 10px;
    top: 50%;
    width: 0;
    content: '';
}

.slider-btns button span {
    font-weight: bold;
    padding: 10px 15px 10px 10px;
    position: relative;
    text-decoration: none;

}

.slider-btns button {
    position: static !important;
    transform: translate(0, 0);
    background-color: #f3f3f3;
    width: 80px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
}

.slider-btns {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 30px auto 10px auto;
    padding: 0px 10px;
}

.p-buy-btn:hover {
    font-size: 18px;
    color: white;
    background: radial-gradient(circle at -4% -12.9%, rgb(74, 98, 110) 0.3%, rgb(30, 33, 48) 90.2%);
}

.p-buy-btn {
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    border-radius: 6px;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
    color: white;
    font-weight: bold;
}

.price-buy .p-price {
    font-size: 15px;
    color: #133913;
}

.price-buy {
    display: flex;
    justify-content: space-between;
}

.price-buy p {
    font-size: 14px;
    color: #006080;
    font-weight: bold;
}


.product-title {
    color: #666666;
    font-size: 14px;
    text-decoration: none;
    transition: all ease 0.3s;
}

.product-category a {
    word-wrap: break-word;
    white-space: pre-wrap;
    color: #404040;
    width: 100%;
    height: auto;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0px;
}

.product-category a:hover {
    color: #e65c00;
    font-size: 20px;
}

.product-category {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.p-box-text {
    margin-top: 5px;
    width: 100%;
}


.product-box {

    background-color: #F9F9F8;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 8px 15px;
    border-radius: 3px;
    margin: 0px 9px;
}

.productimagelink {
    box-shadow: 0px 50px 100px -20px rgba(50, 50, 93, 0.25), 0px 30px 60px -30px rgba(0, 0, 0, 0.3), inset 0px -2px 6px 0px rgba(10, 37, 64, 0.35);
    position: relative;
    overflow: hidden;
}

.productimage {
    border-radius: 10px;
    min-width: 100%;
    max-width: 100%;
    min-height: 32vh;
    max-height: 32vh;
    object-position: center;
}



#companynamecatalogue:hover {
    font-size: 16px;
    font-weight: bold;
    color: #ff6600;
}



.productmoveicons {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 70px;
    width: 70px;
    background-color: whitesmoke;
    border-radius: 50%;
}


@media screen and (max-width: 480px) {
    #companynamecatalogue {
        font-size: 20px;
    }

    .price-buy p {
        font-size: 16px;
        color: darkblue;
    }

    .productimage {

        border-radius: 6px;

        border-radius: 10px;
        min-width: 100%;
        max-width: 100%;
        min-height: 33vh;
        max-height: 33vh;
        object-position: center;
        transition: transform 0.3s ease;
    }

    .product-category a {
        word-wrap: break-word;
        white-space: pre-wrap;
        color: #404040;
        width: 100%;
        height: auto;
        font-size: 18px;
        font-weight: bold;
        margin: 5px 0px;
    }

    .product-title {
        color: #666666;
        font-weight: 13px;
        text-decoration: none;
        transition: all ease 0.3s;
    }

    .glider-prev {
        left: 12px !important;
        top: 38% !important;
        font-size: 20px !important;
        opacity: 60% !important;
        z-index: 999999999;
    }

    .glider-next {
        right: 12px !important;
        top: 38% !important;
        font-size: 20px !important;
        opacity: 60% !important;
        z-index: 999999999;
    }

    .productmoveicons {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        height: 40px;
        width: 40px;
        background-color: whitesmoke;
        border-radius: 50%;
    }
}

@media (max-width: 767px) {
    .card {
        width: calc(50% - 1rem);
    }
}